# ***Условие 2:***

###*На складе лежат разные фрукты в разном количестве.*


Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [8]:

def count_fruits(**fruits):
    total = 0
    for count in fruits.values():
        total += count
    return total

print(f"общее количество продуктов на складе: {count_fruits(mandarins=20, pears=20, pineapples=40)}")

общее количество продуктов на складе: 80

___
# ***Условие 3:***

###*Дан список с затратами на рекламу.*
Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [3]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
expenses = [x for x in expenses if x >= 0]
total_expenses = sum(expenses)
print(f" сумманые затраты: {total_expenses}")

 сумманые затраты: 1425

___
# ***Условие 4.1:***
##*Даны два списка.*

<u>**Дата покупки:**</u>

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

<u>**Суммы покупок по датам:**</u>

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [5]:

dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sales = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

nov_sales = sum([sales[i] for i in range(len(dates)) if dates[i].split('-')[1] == '11'])
print(f"Cумма выручки в ноябре составляет: {nov_sales}")

Cумма выручки в ноябре составляет: 25098

### 4.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [6]:

from typing import List, Dict

def sales_by_month(dates: List[str], sales: List[int]) -> Dict[str, int]:
    result = {}
    for i in range(len(dates)):
        month = dates[i].split('-')[1]
        if month in result:
            result[month] += sales[i]
        else:
            result[month] = sales[i]
    return result

sales_dict = sales_by_month(dates, sales)
print(sales_dict)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

In [7]:

from datetime import datetime

def revenue_by_month(dates: List[str], revenue: List[int]) -> Dict[str, int]:
    revenue_by_month = {}
    for i in range(len(dates)):
        date = datetime.strptime(dates[i], '%Y-%m-%d')
        month = date.strftime('%m')
        if month in revenue_by_month:
            revenue_by_month[month] += revenue[i]
        else:
            revenue_by_month[month] = revenue[i]
    return revenue_by_month

sales_dict = sales_by_month(dates, sales)
print(sales_dict)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}